{% extends "WeddingBundle::layout.html.twig"%}
{% block content %}
    <div class="col-lg-4">
        <h2>Registre</h2>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <hr/>
        {{form_start(form, {'action': '', 'method': 'POST'})}}
        {{form_end(form)}}
    </div>
{% endblock %}
